{% extends 'base.html' %}

{% block title %}
	Shop Service
{% endblock title %}

{% block content %}
    <div class="columns is-multiline is-mobile">
        {% for shop_service in shop_services %}
            <div class="column is-one-third-desktop is-one-third-fullhd is-one-third-widescreen is-half-mobile is-half-tablet">
                <div class="box">
                    <div class="card-header">

                    </div>
                    <h4 class="title is-4 has-text-centered">{{ shop_service.name }}</h4>
                    <div class="card-content">{{ shop_service.description }}</div>
                    <div class="has-text-weight-bold has-text-centered is-uppercase"><span class="has-text-success">{{ shop_service.price }}</span> <span class="has-text-black">Eur</span></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}