{% extends 'base.html' %}

{% block title %}
Customer
{% endblock title %}

{% block content %}
<button class="button is-primary"
    onclick="javascript:new BulmaModal('modal_delete_customer',{ title: 'My Modal Test', contentHTML: '<p>Fabio Coimbra</p>', backgroundClickable: false }).open()">Modal
    test</button>
<div class="table-container">
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th>Person Name</th>
                <th>Contacts</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.person.full_name() }}</td>
                <td>
                    <dl class="is-block">
                        <dt class="is-inline-block">
                            <i class="fa fa-phone"></i>
                        </dt>
                        <dd class="is-inline-block">{{ customer.person.phone_number }}</dd>
                    </dl>
                    <dl class="is-block">
                        <dt class="is-inline-block">
                            <i class="fa fa-envelope"></i>
                        </dt>
                        <dd class="is-inline-block">{{ customer.person.email }}</dd>
                    </dl>
                </td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.city }}, {{ customer.state }}, {{ customer.country }}</td>
                <td>{{ customer.postal_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="modal_delete_customer" class="modal"></div>
{% endblock content %}