{% extends 'base.html' %}

{% block title %}
Customer
{% endblock title %}

{% block content %}
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th>State</th>
            <th>City</th>
            <th>Country</th>
            <th>Postal Code</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.person.first_name }}</td>
            <td>{{ customer.person.last_name }}</td>
            <td>{{ customer.person.phone_number }}</td>
            <td>{{ customer.person.email }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.postal_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock content %}